*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    
    
}
header{
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: space-between;
    
}
span{
    color: crimson;
}
#hd1{
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
    color: crimson;
}
#h11{
    text-align:start;
    font-size: 50px;
}
#h33{
    padding-top: 5%;
    text-align:start;
    font-size: 30px;

}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    
    
    
}
ul li{
    color: crimson;
    height: 50px;
    line-height: 43px;
    
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    
}

li a{
    text-decoration: none;
    color: crimson;
}
.top{
    
    flex-direction: row;
    background:black;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    
}
.topg{
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    justify-content:center;
    float: left;
    padding-left: 10px;
    color: aliceblue;
    font-weight: 600
    ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}



.about{
    position: relative;
    height: 700px;
    width: 100%;
    background-image: url("tb.jpg");
    background-repeat: no-repeat;

    background-position: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
   
    color: whitesmoke;
    padding-top: 150px;

}
.s{
    background-color: black;
    position: relative;
    height: 500px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgba(235, 53, 7, 0.733);
    text-align: center;
    

}
.s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.s2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.s3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#fq{
    font-weight: 800;
    padding: 5%;
}

#fq{
    font-weight: 800;
    padding: 5%;
}
#fq{
    font-weight: 800;
    padding: 5%;
}



